<header>
    <i id="menuOpener" onclick="openMenu();" class="fas fa-bars"></i>

    <div id="menu">
        <div id="menuHeader">
            <i onclick="closeMenu();" id="menuClosener" class="fas fa-times"></i>
            <h2>Menu</h2>
        </div>
        
        <a href="home">Lights</a>
        <a href="/scenes">Scenes</a>
        <a href="/automation">Automation</a>
        <a href="/settings">Settings</a>
    </div>

</header>
