<!DOCTYPE html>

<html>
    <head>
        <%- include("partials/header.ejs"); %>

        <title>Automation</title>
    </head>
    <body>
        
        <div  anim="ripple" class="title">
            <h1>Automation</h1>
            <%- include("partials/menu.ejs"); %>
        </div>

        <div class="content-wrapper">
            <div>


                <div class="input-wrapper">
                    <label style="width: 300px" for="wakeTime">Wake-up time</label>
                    <input class="timeInput" type="time" name="" id="wakeTime" value="12:00">
                </div>

                <div class="input-wrapper" style="flex-direction: row; justify-content: space-evenly; align-items: center;">
                    <button onclick="sendWakeTime();" class="btn btn-neutral" style="margin-bottom: 0;">Send</button>
                    <button onclick="startWakeTime();" class="btn btn-neutral" style="margin-bottom: 0;">Start</button>
                    <button onclick="stopWakeTime();"; class="btn btn-neutral">Stop</button>
                </div>

            </div>
        </div>
        
        <script src="/scripts/main.js" async defer></script>
        <script src="/scripts/ripple.js" async defer></script>
        <script src="/scripts/automations.js" async defer></script>
        <%- include("partials/setSettings.ejs"); %>
    </body>
</html>