<!DOCTYPE html>

<html>
    <head>
        <%- include("partials/header.ejs"); %>

        <title>Automation</title>
    </head>
    <body onload="getCurrentAutomations();">

        <div id="colorOverlay" onclick="closeOverlay();"></div>

        <div id="newAutomation">
            <div class="title">
                <h1>Add new Automation</h1>
            </div>

            <div class="content-wrapper">
                <div>
                    <div class="input-wrapper">
                        <label for="">Name</label>
                        <input class="toSave" type="text" name="" id="automationName" placeholder="Automation Name">
                    </div>
                    <div class="input-wrapper">
                        <label for="">Time</label>
                        <input class="toSave" type="time" name="" id="automationTime" value="12:00">
                    </div>
                    <div class="input-wrapper">
                        <label for="">Repeat</label>
                        <div id="automationRepeat">
                            <span class="tag" data-tag="weekday" onclick="toggleTag(this);">Weekday</span>
                            <span class="tag" data-tag="weekend" onclick="toggleTag(this);" >Weekend</span>
                        </div>
                    </div>
                    <div class="input-wrapper">
                        <label for="">Action</label>
                        <select class="toSave" name="" id="automationActionSelect">
                            <option value="on">Turn on</option>
                            <option value="off">Turn off</option>
                        </select>
                    </div>
                    <div class="input-wrapper">
                        <label for="">Affected Rooms</label>
                        <select class="toSave" name="" id="automationSelectAffectedRooms">
                        </select>
                    </div>
                    <div class="input-wrapper">
                        <label for="">Transition</label>
                        <input type="checkbox" name="" id="automationSmoothStateChange">
                    </div>
                    <div class="input-wrapper">
                        <label for="">Transition Speed (min)</label>
                        <select class="toSave" name="" id="automationTransitionSpeed">
                            <option value="1">1,5min</option>
                        </select>
                    </div>
                    
    
                    <div class="input-wrapper" style="background: transparent; border: none;">
                        <button class="btn btn-primary" onclick="saveAutomation();">Save</button>
                        <button class="btn btn-abort" onclick="closeNewAutomation();">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div  anim="ripple" class="title">
            <h1>Automation</h1>
            <%- include("partials/menu.ejs"); %>
        </div>

        <div class="content-wrapper">
            <div>

                <div class="input-wrapper" style="background-color: transparent; border: none;">
                    <label style="margin-bottom: 1rem;">Current Automations</label>
                    <div id="current_automations"></div>
                </div>

                <i class="fa-solid fa-plus btn-round" onclick="newAutomation();"></i>
                <i class="fa-solid fa-bug btn-round" onclick="makeDebugAutomation();"></i>
            </div>
        </div>
        
        <script src="/assets/hammer.js"></script>
        <script src="/scripts/main.js" async defer></script>
        <script src="/scripts/ripple.js" async defer></script>
        <script src="/scripts/automations.js" async defer></script>
        <%- include("partials/setSettings.ejs"); %>
    </body>
</html>