<!DOCTYPE html>

<html>
    <head>
        <%- include("partials/header.ejs"); %>

        <title>Automation</title>
    </head>
    <body>
        <%- include("partials/menu.ejs"); %>
        
        <h1>Automation</h1>

        
        
        <script src="/scripts/main.js" async defer></script>
    </body>
</html>