<!DOCTYPE html>

<html>
    <head>
        <%- include("partials/header.ejs"); %>

        <title>Automation</title>
    </head>
    <body>
        
        <div  anim="ripple" class="title">
            <h1>Automation</h1>
            <%- include("partials/menu.ejs"); %>
        </div>

        
        
        <script src="/scripts/main.js" async defer></script>
    </body>
</html>