<!DOCTYPE html>

<html>
    <head>

        <%- include("partials/header.ejs"); %>

        <!-- slider -->
        <link href="assets/nouislider.min.css" rel="stylesheet">
        <script src="assets/nouislider.min.js"></script>

        <!-- color picker -->
        <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

        <title>Lights</title>
    </head>

    <body onload="getGroups();">


        <div id="colorPicker">
            <h2 id="colorPickerLightName">Light_name</h2>
            <div id="picker"></div>

            <button onclick="closeOverlay();" anim="ripple" class="btn btn-primary">Done</button>
        </div>

        <div id="colorOverlay" onclick="closeOverlay();"></div>

        

        <div  anim="ripple" class="title">
            <h1>Lights</h1>
            <%- include("partials/menu.ejs"); %>
        </div>


        <div id="lastUsed"></div>
        <div id="groups"></div>
        <div id="scenes"></div>

        <script src="/scripts/sliders.js" async defer></script>
        <script src="/scripts/main.js"  async defer></script>
        <script src="/scripts/lights.js" async defer></script>
        <script src="/scripts/ripple.js" async defer></script>
        <script src="/scripts/lightcardComponent.js" async defer></script>

    </body>
</html>