<!DOCTYPE html>

<html>
    <head>

        <%- include("partials/header.ejs"); %>

        <!-- slider -->
        <link href="assets/nouislider.min.css" rel="stylesheet">
        <script src="assets/nouislider.min.js"></script>

        <!-- color picker -->
        <script src="https://cdn.jsdelivr.net/npm/@jaames/iro@5"></script>

        <title>Lights</title>
    </head>

    <body onload="getGroups();">


        <div id="colorPicker">
            <h2 id="colorPickerLightName">Light_name</h2>
            <div id="picker"></div>

            <button onclick="closeOverlay();" anim="ripple" class="btn btn-primary">Done</button>
        </div>

        <div id="colorOverlay" onclick="closeOverlay();"></div>

        

        <div  anim="ripple" class="title">
            <h1>Lights</h1>
            <%- include("partials/menu.ejs"); %>
        </div>


        <div id="lightSwitches">

            <!--
            <lightcard-component friendlyname="wohnzimmer_lights" title="Wohnzimmer"></lightcard-component>
            <lightcard-component friendlyname="schlafzimmer_lights" title="Schlafzimmer"></lightcard-component>
            <lightcard-component friendlyname="kuechen_lights" title="Küche"></lightcard-component>
            <lightcard-component friendlyname="bad_lights" title="Bad"></lightcard-component>
            
            <button anim="ripple" onclick="toggleLightState('wohnzimmer_lights')" class="btn btn-primary">Toggle wohnzimmer lights</button>
            
            <button anim="ripple" onclick="toggleLightState('schlafzimmer_lights')" class="btn btn-primary">Toggle schlafzimmer lights</button>
            
            <button anim="ripple" onclick="toggleLightState('kuechen_lights')" class="btn btn-primary">Toggle küchen lights</button>
    
            <button anim="ripple" onclick="toggleLightState('bad_lights')" class="btn btn-primary">Toggle bad lights</button>-->
            

        </div>

        <script src="/scripts/sliders.js" async defer></script>
        <script src="/scripts/main.js"  async defer></script>
        <script src="/scripts/lights.js" async defer></script>
        <script src="/scripts/ripple.js" async defer></script>
        <script src="/scripts/lightcardComponent.js" async defer></script>

    </body>
</html>