<!DOCTYPE html>

<html>
    <head>
        <%- include("partials/header.ejs"); %>

        <title>Scenes</title>
    </head>
    <body>
        <%- include("partials/menu.ejs"); %>
        
        <h1>Scenes</h1>

        <button onclick="saveCurrentScene();" class="btn btn-primary">save current</button>
        
        <script src="/scripts/main.js" async defer></script>
    </body>
</html>