html, body {
    background-color: #121212;
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

h1, h2, a, label, .btn, #groups legend {
    font-family: "Rubik Mono One", "sans-serif";
    font-weight: 400;
    color: white;
    font-style: normal;
}


a {
    display: block;
    background-color: #333333;
    color: #C2C2C2;
    padding: 0.5rem 1.5rem 0.5rem .5rem;
    text-align: left;
    text-decoration: none;
    transition: all .35s;
    margin: .5rem;
    margin-bottom: 1.5rem;
}

a:hover {
    background-color: #535353;
    color: #e4e4e4;
}

a.active {
    background-color: #C8AFD0;
    color: #CA33E2;
}

/* ripple effect */

[anim=ripple] {
    position: relative;
    overflow: hidden;
}

[anim=ripple]:before {
    content: "";
    position: absolute;
    display: block;
    background: var(--ripple-background, white);
    border-radius: 50%;
    pointer-events: none;
    top: calc(var(--y) * 1px);
    left: calc(var(--x) * 1px);
    width: calc(var(--d) * 1px);
    height: calc(var(--d) * 1px);
    opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
    transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
    transform: translate(-50%, -50%) scale(var(--s, 1));
    transform-origin: center;
}



.title {
    background-color: #404040;
    border-radius: 3px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: baseline;
    padding: 1rem 0rem;
    margin-bottom: 2rem;
}

.title h1 {
    width: fit-content;
    margin: 0;
}

#menuOpener, #menuClosener {
    color: white;
    font-size: 2em;
}

#menuHeader {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

#menuHeader, h2 {
    margin: 0;
}

#menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    right: 0;
    background-color:#272727;
    overflow-x: hidden;
    padding-top: 60px;
    transition: .5s;
}


/* settings */

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 50%;
}

/* theme color selection */
.themeColorOption {
    border-radius: 50%;
    width: 1em;
    height: 1em;
    margin-right: .5rem;
}

.themeColorOption:last-of-type {
    margin-right: 0;
}

.themeColorOption #pink {
    background-color: "#CA33E2";
}
.themeColorOption #blue {
    background-color: "#5ACAE2";
}
.themeColorOption #green {
    background-color: "#6BE233";
}

.themeColorOption .selected {
    box-shadow: 0 0 10px whitesmoke;
}


/* inputs */

.input-wrapper {
    display: flex;
    background-color: white;
    border-radius: 3px;
    margin-bottom: 2rem;
    height: fit-content;
    padding: .15rem 2rem .5rem .25rem;
    flex-direction: column;
    flex-wrap: nowrap;
}

.input-wrapper input {
    background-color: white;
    outline: none;
    font-size: 14pt;
    border: none;
}

.input-wrapper label {
    color: black;
}

/* buttons */

.btn {
    display: block;
    padding: 1rem 3rem;
    border-radius: 3px;
    text-align: center;
    outline: none;
    border: none;
    text-decoration: none;
    -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
    margin-bottom: 1rem;
}

.btn:last-of-type {
    margin-bottom: 0;
}

.btn-primary {
    color: #CA33E2;
    background-color: #C8AFD0;
    --ripple-background: white;
    --ripple-opacity: 0.3;
    --ripple-duration: 600ms;
}

.btn-abort {
    color: rgb(133, 55, 55);
    background-color: rgb(207, 109, 109);
}

#groups {
    width: 90%;
    margin-left: 50%;
    transform: translateX(-50%);
}

#groups .btn {
    width: 100%;
}


.light-card {
    height: 3rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    border: 1px solid #ffffff3a;
    overflow: visible;
}

.light-card .card-body {
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    margin-left: 1rem;
    align-items: center;
}
.card-body label{
    z-index: 5;
    pointer-events: none;
}

/* slider */



.noUi-handle {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.noUi-handle:after, .noUi-handle:before {
    background: none !important;
}


.noUi-connects {
    overflow: visible !important;
}

.noUi-target {
    background: transparent !important;
    border: none !important; 
    box-shadow: none !important;
}

.noUi-base, .noUi-connects {
    top: 0;
    position: absolute !important;
}

.noUi-horizontal .noUi-handle {
    height: 75px !important;
}

.lightSlider, .noUi-horizontal, #testSlider {
    height: 100% !important;
}

.lightSlider {
    background-color: #1d1d1d !important;
}


/* color picker */

#colorOverlay {
    background-color: #121212e1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
}

#colorPicker {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
    top: 5%;
    z-index: 3;
    border-radius: 3px;
    padding: 4rem 1rem;
    justify-content: center;
    flex-direction: column;
    box-shadow: 0px 5px 15px #00000028;
}

#picker {
    margin-bottom: 2rem;
}

#colorPickerLightName {
    text-align: center;
    color: black;
    font-size: 14pt;
    margin-bottom: 1rem;
    word-break: break-all;
}


#groups fieldset {
    border-radius: 3px;
    padding: 1rem;
    margin-bottom: 1rem;
}

#groups fieldset:last-of-type {
    margin-bottom: 0;
}


#sceneSaver {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* scenes */

.sceneBoxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sceneBox {
    width: fit-content;
    height: fit-content;
    background-color: #404040;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    border-radius: 3px;
}

.sceneBox h3 {
    color: rgb(255, 255, 255);
    margin: 0;
}


#lastUsed {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 3rem;
}

.lightBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #333333;
    padding: .25rem;
    width: 5rem;
    height: 5rem;
    word-break: break-all;
    border-radius: 6px;
    margin-bottom: .5rem;
    margin-right: .5rem;
}

.lightBox:last-of-type {
    margin: 0
}

.lightBox span, .lightBox i  {
    color: white;
    text-align: center;
    font-size: 14pt;
}


/* notice banner */

.banner {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* positive banner */
.banner .banner-positive {
    background-color: #B3DFB2;
    color: black;
}

.banner span {
    color: inherit;
}

.banner .banner-positive .fas {
    color: #3B533B;
}

/* negative banner */
.banner .banner-negative {
    background-color: #DFB2B2;
    color: black;
}

.banner .banner-negative .fas {
    color: #6C4F4F;
}